# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data / checkpoints
*.pt
*.pth
*.npy
*.npz
*.h5
*.hdf5

# Logs
*.log

# OS
.DS_Store

# VSCode
.vscode/
